body {
  font-family: Verdana, sans-serif;
}

input {
	border-radius: 10px;
	padding: 5px;
}

button {
	border-radius: 20px;
	padding: 10px;
  width: 100px;
}

a {
	text-decoration: none;
	color: #e51;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

form {
	/*column-count:2; */
	/*column-width: 100px; */
  max-width: 800px;
	margin: auto;
	padding: 5px;
	border: solid black 1px;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #888;
}


#PageHead {
  font-size: 22pt;
  padding: 3px;
}

#PageTitle {
  display: inline;
}

#PageSubTitle {
  display: inline;
  font-size: 16pt;
  font-style: italic;
  margin-left: 1em;
}

#PageNav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1px;
  font-size: 10pt;
  background: #F0F0F0;
}

#PageNav A {
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


/* ############   FLEX    ############ */

.flex-container {
  display: flex;
  flex-direction:column;
  /*flex-flow: row wrap;*/
  justify-content: center;
  padding: 0;
  margin: auto;
  list-style: none;
  flex:1;
  /*height:400px;*/
}

.main-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: auto;
  list-style: none;
}

.main-flex-hidden {
  flex: 0;
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: auto;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 50px;
  margin: auto;
  text-align: center;
}

.flex-item-big {
  padding: 5px;
  width: 400px;
  height: 100px;
  margin: auto;
  margin-top:15px;
  text-align: center;
}



/* Style the collapsible content. Note: hidden by default */
.content {
  overflow:hidden;
  transition:flex 0.3s ease-out;
  height:auto;
  text-align: center;
  flex:1;
}

.collapsed {
  flex:1;
  display:flex;
}
